.recover{
  background-color:#191b29;
  filter: blur();
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
   min-height: 100vh;
}


.recover .container{
    background-color: #f4f4f4;
    border-radius: 10px;
    width: 80%;
    display: flex;
  overflow: hidden;
}

.OTP_button{
    align-self: center;
}

#otp_button{
 padding: 10px !important;
  background: rgb(8, 226, 30) !important;
  color: rgb(27, 9, 223) !important;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
